<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CenterFaceDotNet" version="1.0.0" targetFramework="net48" />
  <package id="DlibDotNet" version="19.21.0.20210302" targetFramework="net48" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net48" />
  <package id="FaceRecognitionDotNet" version="1.3.0.6" targetFramework="net48" />
  <package id="NcnnDotNet" version="0.0.0.20200106" targetFramework="net48" />
  <package id="OpenCvSharp4" version="4.5.5.20211231" targetFramework="net48" />
  <package id="OpenCvSharp4.Extensions" version="4.5.5.20211231" targetFramework="net48" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.5.20211231" targetFramework="net48" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net48" />
</packages>